<template>
    <div>
        <h1 class="text-center">Gestionar Articulos</h1>
        <hr>
        <!-- Button to Open the Modal -->
        <button type="button" class="btn btn-primary my-4" @click="modificarTitulo=true; abrirModal();">
        Nuevo
        </button>

        <!-- The Modal -->
        <div class="modal" :class="{mostrar : isActive}">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">{{tituloModal}}</h4>
                        <button type="button" class="close" data-dismiss="modal" @click="cerrarModal();">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="mb-3 row">
                            <label for="name" class="col-sm-2 col-form-label">Name:</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" v-model="articulo.name">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="description" class="col-sm-2 col-form-label">Description:</label>
                            <div class="col-sm-10">
                            <textarea class="form-control" id="description" v-model="articulo.description"></textarea>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="stock" class="col-sm-2 col-form-label">Stock:</label>
                            <div class="col-sm-10">
                            <input type="number" class="form-control" id="stock" v-model="articulo.stock">
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" @click="cerrarModal();">Close</button>
                        <button type="button" class="btn btn-primary" @click="guardar();">Save changes</button>
                    </div>

                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Stock</th>
                <th scope="col" colspan="2" class="text-center">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="articulo in articulos" :key="articulo.id">
                <th scope="row">{{articulo.id}}</th>
                <td>{{articulo.name}}</td>
                <td>{{articulo.description}}</td>
                <td>{{articulo.stock}}</td>
                <td>
                    <button class="btn btn-warning" @click="modificarTitulo=false; abrirModal(articulo);">Editar</button>
                </td>
                <td>
                    <button class="btn btn-danger" @click="eliminar(articulo.id)">Eliminar</button>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    data(){
        return {
            articulo:{
                name:'',
                description:'',
                stock:''
            },
            id:0, //para modificar
            articulos:[],
            tituloModal:'',
            isActive:false,
            modificarTitulo:true,
        }
    },
    methods: {
        async listar(){
            var res=await axios.get('articulos');
            this.articulos = res.data;
        },
        async eliminar(id){
            var res=await axios.delete('articulos/'+id);
            this.listar();
        },
        async guardar(data){
            if (this.modificarTitulo) {
                var res=await axios.post('articulos/', this.articulo);
            }else{
                var res=await axios.put('articulos/'+this.id, this.articulo);
            }
            this.cerrarModal();
            this.listar();
        },
        abrirModal(data){
            this.isActive=true;
            if (this.modificarTitulo) {
                this.tituloModal = "Crear Articulo";
                
            }else{
                this.id=data.id;
                this.tituloModal = "Editar Articulo";
                this.articulo.name=data.name;
                this.articulo.description=data.description;
                this.articulo.stock=data.stock;

            }
        },
        cerrarModal(){
            this.isActive=false;
        },
    },
    created(){
        this.listar();
    },

}
</script>

<style>
.mostrar{
    display: list-item;
    opacity: 100%;
    background: rgb(44, 38, 75,0.849);
}


</style>